.wrapper1-4{
    display: none;
    visibility: hidden;
}
.wrapper1-4{
    position: absolute;
    width: 320px;
    left: 0;
    top: 0;
    background-color: #fff;
    height:100%;
    position: relative;
    box-shadow: 5px 0 50px 0 rgb(107, 107, 106);
}

.upperMenu1-4__wrapper{
    margin:0;
    padding: 0;
    box-shadow: none;
    shape-outside: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #B8FFEC;
    align-items: center;
}
.upperMenu1-4__burger{
    vertical-align:middle;
    margin-left: 10px;
    margin-right: 10px;

}
.upperMenu1-4__group{
    vertical-align: middle;
   
}
.upperMenu1-4__divider{
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
}
.upperMenu1-4__repair{
    vertical-align: middle;
    /*border: 1px solid #000;
    margin-left: 10px;*/
}
.upperMenu1-4__check{
    vertical-align: middle;
}

div.upperMenu1-4 img{
    /*-top: 15px;
    margin-bottom: 15px;
    */
    margin: 15px auto;

}

.about1-4__wrapper{
    display: flex;
    align-items: center;
   
}
.about1-4__highlight{
    left: 0px;
    position: absolute;
}

.about1-4__title{
    margin-left: 15px;
    position: relative;
    font-weight: 500;
/*     @font-face {
        font-family: TTLakes;
        src: url(TTLakes/TTLakes-DemiBold.woff);
    } */
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.links__services{
/*     @font-face {
        font-family: TTLakes;
        src: url(TTLakes/TTLakes-DemiBold.woff);
    } */
    padding-left: 20px;
    margin-bottom: 25px;
}

/* 
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #807575;

} */

.bottom-menu__containerLeft>span{
    margin-right: 10px;
}

.bottom-menu__languages{
    display: flex;
    column-gap: 10px;
}
.bottom-menu__ru{
    color:#7E7E82;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    

}

.footer1-4{
    position: absolute;
    bottom: 0;
    left: 0;
}
.bottom-menu__wrapper{
    margin-left: 20px;
    margin-bottom: 15px;
}
.bottom-menu__mail{
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: 200;
}
.bottom-menu__phone{
    margin-left: 20px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 20px;
}

.bottom-menu__languages{
    margin-left: 20px;
    margin-bottom: 20px;
}

.ghost{
    display: none;
    visibility: hidden;
}
/*feedback*/
.feedback__container{
    display: none;
    visibility: hidden;
}
.feedback__container{
    margin: 0;
    border-color: 2px solid blue;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top:0;
    right:0;
    box-shadow: -5px 0 5px rgb(0, 0, 0, .2);
}
.feedback__submit{
    margin: 0;
    padding: 0;
    border-radius: 5%;
    background-color: #fff;
    border: none;
    outline: none;
}
.feedback__submit-image{
    margin: 0;
    padding: 0;

}
.feedback__form{
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
}

.feedback__name{
    margin-left: -10px;
}

.feedback__disclaimer{
    font-size: small;
    color:#7E7E82;
    padding: 10px;
    width: 90%;

}
.feedback__personal-data{
    text-decoration: none;
    color:#FF5C8D;
}
.feedback__submit{
    margin-left: 180px;
}

.feedback__close:hover{
    border: 1px solid #41F6D7;
}
.feedback__title{
    font-weight: bold;
}

.half-ghost{
    opacity: .1;
}