.btn__expand{
    transform: rotate(180deg);
 }
 
 .swiper{
     display: none;
     visibility: hidden;
 }
 
 .labels__lenovo2, .labels__samsung2, .labels__apple2, .labels__sony, .labels__view-sonic{
     display: none;
     visibility: hidden;
     
  }
  
  /*from 1.3*/
 
  .upperMenu__wrapper{
     display: flex;
     align-items: center;
     
 }
 .upperMenu__wrapper span{
     padding: 10px;
     margin-left: -5px;
     margin-right: -3px;
 }
 .upperMenu__wrapper{
     background-color: #fff;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .upperMenu__containerLeft{
     display: flex;
     align-items: center;
 }
 
 
 .upperMenu__containerRight{
     display: flex;
     align-items: center;
     margin-left: auto;
     
 }
 
 .upperMenu__burger{
     padding-left: 15px;
 }
 .upperMenu__check{
     padding-right: 15px;
 }
 
 
 .services__address{
     display: none;
     visibility: hidden;
 }
 
 .about__wrapper{
     display: flex;
     align-items: center;
    
 }
 .about__highlight{
     left: 0px;
     position: absolute;
 }
 
 .about__title{
     margin-left: 15px;
     position: relative;
/*      @font-face {
         font-family: TTLakes;
         src: url(TTLakes/TTLakes-DemiBold.woff);
     } */
     margin-top: 20px;
     margin-bottom: 20px;
     
 }
 .services__wrapper{
     font-family: 'Dosis', sans-serif;
     display: flex;
     flex-wrap: nowrap;
    
 }
 .services__wrapper button{
     padding: 5px;
     white-space: nowrap;
     margin-top: 10px;
     margin-bottom: 10px;
     color: 	#808080;
     background-color: #fff;
     border-radius: 5px;
     font-size: 17px;
     border: none;
     padding-left: 15px;
     padding-right: 15px;
 }
 .services__wrapper button:active, .services__wrapper button:hover, .services__wrapper button:focus{
     border: 2px solid #B8FFEC;
     outline: none;
 }
 .services__repairees{
     margin-left: 25px;
     
 }
 .services__repairees button:active, .services__repairees button:hover{
     border: 2px solid #B8FFEC;
 }
 
 .description__wrapper{
     display: flex;
     align-items:flex-start;
     margin-left: 20px;
 
     margin-top: 30px;
 
 }
 .description__photo{
     padding-right: 20px;
 }
 
 
 .description__text{
     color:#000;
     font-family: 'Montserrat', sans-serif;
     
 }
 .description__button{
     background-color: #f8f8f8;
     border: #f8f8f8;
     font-size: 15px;
     font-weight: 500;
     margin-left: 20px;
     display: flex;
     align-items: center;
     padding: 5px;
     margin-bottom: 15px;
     margin-top: 30px;
 }
 .description__button:focus{
     border: 2px solid #B8FFEC;
     outline: none;
 }
 .description__button::before{
     content: url("../img/expand.svg");
 
  
 }
 .description__imageXS{
     display: none;
     visibility: hidden;
 }
 
 html:not(div.upperMenu){
     background-color: #f8f8f8;
 }

/*copied from desktop start*/
.labels__table{
    border-collapse: collapse;
    row-gap: 20px;
    column-gap: 20px;
}

.labels__table-header {
    padding: 30px 20px;
}
.labels__cell{
    padding: 20px 40px;
    
}

.labels__table-data{
    background-color: #fff;
    margin-bottom: 5px;
    border-bottom: 1px solid #7e7e82;
}

.labels__table-header{
    font-size: 16px;
    font-family: "TT Lakes",serif;
    font-weight: normal;
    text-transform: uppercase;
    color:#7e7e82;
    font-weight: 300;
/*     @font-face {font-family: "TT Lakes"; src: url("/TT-Lakes-Font/TT Lakes Medium.otf");}  */
  
    
}

.labels__disclaimer{
    margin-left: 20px;
    font-size: 15px;
    width: 300px;
    margin-bottom: 20px;
}

.labels__offer{
    font-weight: 900;
    margin-bottom: 20px;
    margin-left: 20px;
}
.labels__line{
    margin-left: 15px;
   

}
/*copied from desktop end*/
.labels__disclaimer__mobile, .labels__offer__mobile{
    display: none;
    visibility: hidden;
}