.btn__expand{
   transform: rotate(180deg);
}

.swiper{
    display: none;
    visibility: hidden;
}

.labels__lenovo2, .labels__samsung2, .labels__apple2, .labels__sony, .labels__view-sonic{
    display: none;
    visibility: hidden;
    
 }
 
 /*from 1.3*/

 .upperMenu__wrapper{
    display: flex;
    align-items: center;
    
}
.upperMenu__wrapper span{
    padding: 10px;
    margin-left: -5px;
    margin-right: -3px;
}
.upperMenu__wrapper{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.upperMenu__containerLeft{
    display: flex;
    align-items: center;
}


.upperMenu__containerRight{
    display: flex;
    align-items: center;
    margin-left: auto;
    
}

.upperMenu__burger{
    padding-left: 15px;
}
.upperMenu__check{
    padding-right: 15px;
}


.services__address{
    display: none;
    visibility: hidden;
}

.about__wrapper{
    display: flex;
    align-items: center;
   
}
.about__highlight{
    left: 0px;
    position: absolute;
}

.about__title{
    margin-left: 15px;
    position: relative;
    @font-face {
        font-family: TTLakes;
        src: url(TTLakes/TTLakes-DemiBold.woff);
    }
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.services__wrapper{
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-wrap: nowrap;
   
}
.services__wrapper button{
    padding: 5px;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
    color: 	#808080;
    background-color: #fff;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}
.services__wrapper button:active, .services__wrapper button:hover, .services__wrapper button:focus{
    border: 2px solid #B8FFEC;
    outline: none;
}
.services__repairees{
    margin-left: 25px;
    
}
.services__repairees button:active, .services__repairees button:hover{
    border: 2px solid #B8FFEC;
}

.description__wrapper{
    display: flex;
    align-items:flex-start;
    margin-left: 20px;

    margin-top: 30px;

}
.description__photo{
    padding-right: 20px;
}


.description__text{
    color:#000;
    font-family: 'Montserrat', sans-serif;
    
}
.description__button{
    background-color: #f8f8f8;
    border: #f8f8f8;
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.description__button:focus{
    border: 2px solid #B8FFEC;
    outline: none;
}
.description__button::before{
    content: url("expand.svg");

 
}
.description__imageXS{
    display: none;
    visibility: hidden;
}

html:not(div.upperMenu){
    background-color: #f8f8f8;
}